body {
    margin: 0;
    background-color: #cd6666;
  }
  

  .container {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    transition: transform 1s ; 
  }

  .container:hover {
    transform:translate(20px) 
  }