* {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.styled-list {
    list-style: none;
    padding-left: 20px;
}

.styled-list li {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #555;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1rem;
    margin-bottom: 8px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  
}

form button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    text-align: center;
    
}